@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&display=swap');

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

/* ////////// Navbar ////////// */

.navbar {
  background-color: #F6F2F2;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;

}

.navbar a {
  text-decoration: none;
}

.logo {
  color: #122223;
  font-size: 2em;
  text-transform: uppercase;
  font-family: 'Bodoni Moda', serif;
  letter-spacing: 2px;
}

.navbar .navigation {
  position: relative;
  line-height: 20%;
  transition: 0.6s;
}

.navbar .navigation .menu {
  position: fixed;
  display: block;
  background-color: pink;
  min-width: 50%;
  height: 100vh;
  top: 0 !important;
  right: -100%;
  padding: 90px 50px;
  visibility: hidden;
  overflow-y: hidden;
  transition: 0.5s;
  transition-property: right;
  list-style: none;
}

.navbar .navigation .menu.active {
  right: 0;
  visibility: visible;
  margin: 0;
}

.navbar .navigation .menu.hidden {
  right: -100%;
  visibility: visible;
  margin: 0;
}

.menu {
  position: fixed;
  top: 0;
  /* display: none; */
}

.menu-item {
  position: relative;
}

.menu-item>a {
  display: block;
  color: green;
  font-family: var(--button-font-light);
  font-size: 13px;
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: color 1s;
  line-height: 100%;
  padding-top: 10%;
  padding-left: 10%;

}


.menu-item>a:hover,
.menu-item>a.active {
  color: var(--primary-color);
}


.more .more-menu .more-item {
  padding: 7px 0;
  box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
  transition: 0.3s;
}

.menuIcon {
  font-size: 2em !important;
  color: #122223 !important;
}


.menuBtn {
  background-color: transparent !important;
}


.close-btn {
  position: absolute;
  background: url(https://firebasestorage.googleapis.com/v0/b/ally-health-obgyn.appspot.com/o/close.png?alt=media&token=93b8d1fe-14c2-497d-86bf-9d7df8e205d3)no-repeat;
  width: 40px;
  height: 40px;
  background-size: 40px;
  background-position: center;
  top: 0;
  right: 0;
  margin: 25px;
  cursor: pointer;
}